@font-face {
    font-family: 'GivenyFree';
    src: url('../pages/fonts/GivenyFree/GivenyFree.eot?#iefix') format('embedded-opentype'),  
         url('../pages/fonts/GivenyFree/GivenyFree.woff') format('woff'), 
         url('../pages/fonts/GivenyFree/GivenyFree.ttf')  format('truetype'), 
         url('../pages/fonts/GivenyFree/GivenyFree.svg#GivenyFree') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JodieBadiston-Regular';
    src: url('../pages/fonts/JodieBadiston-Regular/JodieBadiston-Regular.eot?#iefix') format('embedded-opentype'),  
         url('../pages/fonts/JodieBadiston-Regular/JodieBadiston-Regular.woff') format('woff'), 
         url('../pages/fonts/JodieBadiston-Regular/JodieBadiston-Regular.ttf')  format('truetype'), 
         url('../pages/fonts/JodieBadiston-Regular/JodieBadiston-Regular.svg#JodieBadiston-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}